<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <property name="log.base" value="${log.home:-./log/api-app}"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.base}.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.base}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>60</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="FILE-ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <file>${log.base}-err.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.base}-err.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>60</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="api-invoke-appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.base}-invoke.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} -%msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.base}-invoke.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="upstream-api-invoke-appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.base}-upstream-api-invoke.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} -%msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.base}-upstream-api-invoke.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>


    <logger name="org.springframework" additivity="false" level="INFO">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.springframework.web.servlet" additivity="false" level="INFO">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.apache.commons" additivity="false" level="WARN">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="io.netty" additivity="false" level="WARN">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.asynchttpclient" additivity="false" level="WARN">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="org.quartz" additivity="false" level="WARN">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.transmartx.hippo.logger.ApiInvokeLogger" additivity="false" level="INFO">
        <appender-ref ref="api-invoke-appender"/>
    </logger>

    <logger name="com.transmartx.hippo.logger.UpstreamApiInvokeLogger" additivity="false" level="INFO">
        <appender-ref ref="upstream-api-invoke-appender"/>
    </logger>

    <root>
        <level value="INFO"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="FILE-ERROR"/>
    </root>

</configuration>